@model ProjectMain.Models.Vehicle
@{
    ViewBag.Title = "VehicleForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Please Fill In The Details</h2>
@using (Html.BeginForm("Save", "Vehicle"))
{
    //@Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(m => m.Type)
        @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Type)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Capacity)
        @Html.TextBoxFor(m => m.Capacity, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Capacity)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary">Submit</button>
}

