@model ProjectMain.Models.Scrapyard
@{
    ViewBag.Title = "ScrapyardForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Please Fill In The Details</h2>
@using (Html.BeginForm("Save", "Scrapyard"))
{
    //@Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(m => m.Owner)
        @Html.TextBoxFor(m => m.Owner, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Owner)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location)
        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Location)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary">Submit</button>
}

